*{
    color: #fff !important;
}
.title{
    background: linear-gradient(to top, #fdfdfd, #979393);
    -webkit-background-clip: text !important;
    color: transparent !important; 
    
}

.bg-navbar{
    background-color: rgba(24, 25, 26, 0.815);
    
}